.box {
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    overflow: hidden;
}
.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 390px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #FF0000, #FF9983);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #FF5C00, #FF9983);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
